aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
annoy
anthropic
anyio
appdirs
attrs
audioread
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
dataclasses-json
datasets
decorator
defusedxml
dill
distro
faiss-cpu
fastapi
ffmpy
filelock
fonttools
frozenlist
fsspec
gensim
gitdb
GitPython
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
lazy_loader
librosa
llvmlite
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mpmath
msgpack
multidict
multiprocess
mypy-extensions
narwhals
nest-asyncio
networkx
node2vec
numba
numpy
openai
orjson
packaging
pandas
pdfminer.six
pdfplumber
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
platformdirs
pooch
protobuf
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
pyparsing
PyPDF2
pypdfium2
pysbd
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
ragas
referencing
regex
requests
rich
rpds-py
ruff
safetensors
scikit-learn
scipy
semantic-version
sentence-transformers
shellingham
six
smart-open
smmap
sniffio
soundfile
soupsieve
soxr
SQLAlchemy
starlette
streamlit
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomlkit
torch
torchvision
tornado
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
websockets
wrapt
xxhash
yarl
fitz
pytesseract
pymupdf